* {
    margin: 0;
    padding: 0;
}

:root {
    --maincolor: #630eeb;
    --secondcolor: #F6F6F6;
    --blackcolor: #000000;
    --whitecolor: #ffffff;
    --fontcolor: #2C2C2C;

}

body {

    font-family: 'Heebo', sans-serif;

}

.container {
    max-width: 1920px;
    max-height: 900px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10.25rem;
    padding: 100px
}

.form-1 {
    display: flex;
    flex-direction: column;
    min-width: 320px;

}

img {

    width: 100%;
    height: 900px;
}


.header {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    margin-bottom: 30px;
    margin-right: 10px;
}

p {
    font-size: .8225rem;
}

#email,
#fullName,
p {
    color: var(--fontcolor);
    font-size: .8225rem;

}



.tiny-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

#fullName,
#email {
    border-style: none;
    border-bottom: var(--maincolor) 3px solid;
    padding: 10px;
    background-color: var(--secondcolor);
    max-width: 250px;
}

p {

    color: var(--fontcolor);
}


.button {
    padding: 10px 10px;
    max-width: 130px;
    margin-top: 20px;
    border-radius: none;
    color: var(--whitecolor);
    background-color: var(--maincolor);
    font-weight: bold;
}


h1 {
    max-width: 250px;
    text-align: right;

}

h1 {
    font-size: 2.1875rem;
    font-family: sans-serif
}

h1 span {
    color: var(--maincolor)
}






@media screen and (min-width:1120px) and (max-width:1300px) {

    .container {
        display: flex;
        justify-content: center;
        flex-direction: coelumn;
        gap: 3;


    }

    .img-1 {
        width: 100%;
        object-fit: cover;
    }



    .tiny-form {
        padding: 10px;
    }



}

@media screen and (min-width:767px) and (max-width:1119px) {


    .container {
        gap: .3125rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-1 {
        width: 100%;
    }

    img {
        width: 100%;
        height: 500px
    }

    .form-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    p {
        font-weight: bold;
    }

    .form-1 {
        display: flex;
        flex-direction: row;
        padding: auto;

        background-color: antiquewhite;
        max-height: 400px;
        gap: 2.25rem;

    }
}


@media screen and (min-width:321px) and (max-width:768px) {

    .container {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        min-width: 320px;
        padding: 5px;
        margin: 10px;
        gap: .3125rem;
    }

    .img-1 {
        width: 100%;
        height: 300px;

    }

    img {
        width: 100%;
        height: 300px;


    }

    .form-1 {
        padding: auto;
        max-height: 400px;
    }

    .button {
        margin-top: 3px;
    }

    .tiny-form {
        padding: 10px;
    }
}

@media screen and (max-width:320px) {


    .container {
        display: flex;
        justify-content: center;
        flex-direction: coelumn;
        gap: 3;
        width: 100%;
        height: 300px;
    }

    .img-1 {
        width: 100%;
        height: 300px;

    }

    img {
        width: 100%;
        height: 300px;


    }

    .form-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.25rem;

    }

    #fullName,
    #email {
        border-style: none;
        border-bottom: var(--maincolor) 3px solid;
        background-color: var(--secondcolor);
        width: 270px;


    }

    .header {
        margin-bottom: 0;
        margin-right: 25px;
    }

    .button {
        min-width: 270px;
    }


    .h1 {
        min-width: 300px;
        font-size: 1.5rem;

    }
}



/*validation web*/

#validation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    font-size: 100px;
    padding: 100px;
    color: var(--fontcolor);
}